:root{
    --ic-brand-header-image: url('https://nanodroopytask.dtsmicah.repl.co/dts_inverted.svg')
}

.ic-app-header__logomark-container{
    background: none !important;
    /*height: 62.6px;*/
    height: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow: visible;
}

.ic-app-header__logomark{
  overflow: visible !important;
}

.ic-app-header__logomark{
    /*background-image: url('https://nanodroopytask.dtsmicah.repl.co/dts_inverted.svg') !important;*/
    background-image: none !important;
    /*width: 70%;*/
    height: 100% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.path{
    stroke-dasharray: 400 !important;
    animation: dash 5s linear infinite alternate;
    -webkit-transition: stroke-dashoffset 100ms ease-out;
    stroke: none !important;
    fill: white !important;
}

.svg:hover ~ .path{
    stroke: #ff0000 !important;
}
.svg:hover + .h1{
    background: plum;
}
.path:hover{
    background: peru;
}



/*todo: get top tab to work: maybe just add class to the <a> element instead?*/;
/* 3d stuff */
#container {
  perspective: 50px !important;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d !important;
  /*height: 100%;
  width: 100%;*/
}

#inner {
  background: none;
  transition: transform 0.5s;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  transform-style: preserve-3d !important;
}

.path{
  filter: drop-shadow(30px 30px 300px rgba(0, 0, 0, .4)) !important;
  box-shadow: #ff0000;
}


/*
@keyframes dash {
    to {
      stroke-dashoffset: 1000;
    }
  }*/
/*
.ic-app-header__logomark{
    background-image: none !important;
    width: 70%;
    height: 100% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}*/